@model HomeViewModel

@{
    ViewData["Title"] = "DisplayCart";
    Layout = "~/Views/shared/_subLayout.cshtml";
    var prdCount = ViewBag.prdCount;
    var order = ViewBag.Order as OnlineShopping.Core.DbEntities.Order;
    var TempOrders = ViewBag.TempProd as List<OnlineShopping.Core.DbEntities.TemporaryItems>;
}


<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Shopping Cart</h1>
                </div>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        @if (Model.products.Count() > 0)
        {
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive shop_cart_table">
                            <table class="table myTable">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="subtotal">Total</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form method="post">
                                        @foreach (var item in Model.products)
                                        {
                                            <tr>
                                                <input type="hidden" value="@item.Id" name="id">
                                                <td class="product-thumbnail"><a href="#"><img src="@item.ProductImages.ToList()[0].Path" alt="product2"></a></td>
                                                <td class="product-name" data-title="Product"><a href="#">@item.Title</a></td>
                                                <td class="price" data-title="Price">@item.Price$</td>
                                                <td class="product-quantity" data-title="Quantity">
                                                    <div class="quantity">
                                                        <input type="button" value="-" class="minus">
                                                        <input type="text" min="1" name="Quantity" value="@TempOrders.Where(w => w.ProductId == item.Id).FirstOrDefault().Quantity" title="Qty" class="qty" size="4">
                                                        <input type="button" value="+" class="plus">
                                                    </div>
                                                </td>
                                                <td data-title="Total"><span class="product-subtotal">@(item.Price * TempOrders.Where(w => w.ProductId == item.Id).FirstOrDefault().Quantity)</span>$</td>
                                                <td class="product-remove" data-title="Remove">
                                                    <a asp-action="Delete" asp-controller="Cart" asp-route-id="@item.Id" class="btn btn-border-fill"><i class="ti-close"></i></a>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td clas="m-auto" colspan="6">
                                                <button asp-action="updateQuantity" asp-controller="Cart" class="btn btn-block btn-fill-line w-50 m-auto" type="submit">Update Cart</button>
                                            </td>
                                        </tr>
                                    </form>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="medium_divider"></div>
                        <div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
                        <div class="medium_divider"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading_s1 mb-3">
                            <h6>Calculate Shipping</h6>
                        </div>
                        <form class="field_form shipping_calculator" method="post">
                            <div class="border p-3 p-md-4">
                                <div class="heading_s1 mb-3">
                                    <h6>Cart Totals</h6>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="cart_total_label">Shipping</td>
                                                <td class="cart_total_shipping">Free Shipping</td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td class="cart_total_amount"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <div class="form-group col-md-12">
                                    <input asp-for="@order.Address" placeholder="Address" class="form-control w-50  m-auto">
                                    <span asp-validation-for="@order.Address" class="text-danger  m-auto "></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input asp-for="@order.Telephone" placeholder="Mobile" class="form-control w-50 m-auto ">
                                    <span asp-validation-for="@order.Telephone" class="text-danger  m-auto"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <button class="btn btn-fill-line w-25 m-auto" type="submit" asp-action="submitOrder" asp-controller="Cart">Update Totals</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="container">
                <div class="row">
                    <h2 class="m-auto">No Items In Cart</h2>
                </div><br />
                <div class="row">
                    
                    <a asp-action="index" asp-controller="Home" class="btn btn-danger m-auto w-50">Review Our Products</a>

                </div>
            </div>
        }
    </div>
</div>
<!-- END SECTION SHOP -->


@section Search{
    @Html.Partial("_Search")

}
@section Category{
    @Html.Partial("_Category")
}
