@model OnlineShopping.Core.DbEntities.Product
@{
    Layout = null;
    var prds = ViewBag.relprod;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/lib/images/favicon.png">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/lib/css/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/lib/css/all.min.css">
    <link rel="stylesheet" href="~/lib/css/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/css/linearicons.css">
    <link rel="stylesheet" href="~/lib/css/flaticon.css">
    <link rel="stylesheet" href="~/lib/css/simple-line-icons.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="~/lib/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owlcarousel/css/owl.theme.css">
    <link rel="stylesheet" href="~/lib/owlcarousel/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/lib/css/magnific-popup.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/lib/css/slick.css">
    <link rel="stylesheet" href="~/lib/css/slick-theme.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/lib/css/style.css">
    <link rel="stylesheet" href="~/lib/css/responsive.css">
</head>
<body>
    <!-- LOADER -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- END LOADER -->

    <header class="header_wrap">
        <div class="middle-header dark_skin">
            <div class="container">
                <div class="nav_block">
                    <a class="navbar-brand" href="index.html">
                        <img class="logo_light" src="~/lib/images/logo_light.png" alt="logo">
                        <img class="logo_dark" src="~/lib/images/logo_dark.png" alt="logo">
                    </a>
                    <div class="contact_phone order-md-last">
                        <i class="linearicons-phone-wave"></i>
                        <span>123-456-7689</span>
                    </div>
                    <div class="product_search_form">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="custom_select">
                                        <select class="first_null">
                                            <option value="">All Category</option>
                                            <option value="Dresses">Dresses</option>
                                            <option value="Shirt-Tops">Shirt & Tops</option>
                                            <option value="T-Shirt">T-Shirt</option>
                                            <option value="Pents">Pents</option>
                                            <option value="Jeans">Jeans</option>
                                        </select>
                                    </div>
                                </div>
                                <input class="form-control" placeholder="Search Product..." required="" type="text">
                                <button type="submit" class="search_btn"><i class="linearicons-magnifier"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>


    @*<nav>

        </nav>*@

    <div class="bg-light text-center font-weight-bolder p-5 my-3">
        <h2>Product Details</h2>
    </div>
    <br />
    <br />
    <br />

    <table class="table">

        <tr>
            <td rowspan="8">
                <div class="border-dark">
                    <img src="@Model.productImages.ToList().FirstOrDefault().Path" alt="product_img1">
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <img width="50px" src="@Model.productImages.ToList().FirstOrDefault().Path" alt="product_img1">
                                </td>
                                <td>
                                    <img width="50px" src="@Model.productImages.ToList().LastOrDefault().Path" alt="product_img1">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </td>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Price)$
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Brand.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Category.Name)
            </td>
        </tr>
        <tr>
            <td>
                size: <span class="badge badge-secondary">XS</span>
                <span class="badge badge-secondary">S</span>
                <span class="badge badge-secondary">M</span>
                <span class="badge badge-secondary">L</span>
                <span class="badge badge-secondary">XL</span>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-danger">Add to cart</a>
            </td>
        </tr>
        <tr>
            <td>
                S.N.N: @Html.DisplayFor(model => model.Id)
            </td>
        </tr>
    </table>

    <div class="btn-group btn-group-lg my-5 mx-3">
        <a class="btn btn-outline-primary active" onclick='document.getElementById("desc").style.display = "block";
    document.getElementById("table").style.display = "none";
    document.getElementById("reviews").style.display = "none";'>Description</a>
        <a class="btn btn-outline-secondary" onclick='document.getElementById("table").style.display = "block";
    document.getElementById("desc").style.display = "none";
    document.getElementById("reviews").style.display = "none";'>Additional Info</a>
        <a class="btn btn-outline-success" onclick='document.getElementById("reviews").style.display = "block";
    document.getElementById("desc").style.display = "none";
    document.getElementById("table").style.display = "none";'>Reviews</a>
    </div>
    <div id="data" class="bg-light mx-3">
        <div id="desc" style="display:block">
            @Model.Description
        </div>
        <div id="reviews" style="display:none">
            Comments
        </div>
        <table id="table" style="display:none" class="table table-striped table-bordered">
            <tr>
                <td>
                    Capacity
                </td>
                <td>
                    5KG
                </td>
            </tr>
            <tr>
                <td>
                    Color
                </td>
                <td>
                    Red / White / Black
                </td>
            </tr>
            <tr>
                <td>
                    Water resistence
                </td>
                <td>
                    Yes
                </td>
            </tr>
        </table>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />


    <div class="bg-light text-center font-weight-bolder p-5 my-3">
        <h2>Related Products</h2>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var item in prds)
            {
                <div class="col-sm-4">
                    <div class="card">
                        @*<img width="80px" src="@item.productImages.ToList().FirstOrDefault().Path" alt="product_img1">*@
                        <div class="card-body">
                            <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text">@item.Price $</p>
                            <p class="card-text">@item.Category.Name</p>
                            <p class="card-text">@item.Brand.Name</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <br />
    <br />
    <br />






    <footer class="bg_gray">
        <div class="footer_top small_pt pb_20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <div class="footer_logo">
                                <a href="#"><img src="~/lib/images/logo_dark.png" alt="logo"></a>
                            </div>
                            <p class="mb-3">If you are going to use of Lorem Ipsum need to be sure there isn't anything hidden of text</p>
                            <ul class="contact_info">
                                <li>
                                    <i class="ti-location-pin"></i>
                                    <p>123 Street, Old Trafford, NewYork, USA</p>
                                </li>
                                <li>
                                    <i class="ti-email"></i>
                                    <a href="mailto:info@sitename.com">info@sitename.com</a>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>+ 457 789 789 65</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Useful Links</h6>
                            <ul class="widget_links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Location</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">My Account</h6>
                            <ul class="widget_links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Orders History</a></li>
                                <li><a href="#">Order Tracking</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="widget">
                            <h6 class="widget_title">Instagram</h6>
                            <ul class="widget_instafeed instafeed_col4">
                                <li><a href="#"><img src="~/lib/images/insta_img1.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img2.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img3.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img4.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img5.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img6.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img7.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img8.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle_footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="shopping_info">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <div class="icon_box icon_box_style2">
                                        <div class="icon">
                                            <i class="flaticon-shipped"></i>
                                        </div>
                                        <div class="icon_box_content">
                                            <h5>Free Delivery</h5>
                                            <p>Phasellus blandit massa enim elit of passage varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon_box icon_box_style2">
                                        <div class="icon">
                                            <i class="flaticon-money-back"></i>
                                        </div>
                                        <div class="icon_box_content">
                                            <h5>30 Day Returns Guarantee</h5>
                                            <p>Phasellus blandit massa enim elit of passage varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon_box icon_box_style2">
                                        <div class="icon">
                                            <i class="flaticon-support"></i>
                                        </div>
                                        <div class="icon_box_content">
                                            <h5>27/4 Online Support</h5>
                                            <p>Phasellus blandit massa enim elit of passage varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_footer border-top-tran">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <p class="mb-lg-0 text-center">© 2020 All Rights Reserved by Bestwebcreator</p>
                    </div>
                    <div class="col-lg-4 order-lg-first">
                        <div class="widget mb-lg-0">
                            <ul class="social_icons text-center text-lg-left">
                                <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#" class="sc_youtube"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <ul class="footer_payment text-center text-lg-right">
                            <li><a href="#"><img src="~/lib/images/visa.png" alt="visa"></a></li>
                            <li><a href="#"><img src="~/lib/images/discover.png" alt="discover"></a></li>
                            <li><a href="#"><img src="~/lib/images/master_card.png" alt="master_card"></a></li>
                            <li><a href="#"><img src="~/lib/images/paypal.png" alt="paypal"></a></li>
                            <li><a href="#"><img src="~/lib/images/amarican_express.png" alt="amarican_express"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Latest jQuery -->
    <script src="~/lib/js/jquery-1.12.4.min.js"></script>
    <!-- popper min js -->
    <script src="~/lib/js/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="~/lib/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="~/lib/js/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="~/lib/js/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="~/lib/js/parallax.js"></script>
    <!-- countdown js  -->
    <script src="~/lib/js/jquery.countdown.min.js"></script>
    <!-- imagesloaded js -->
    <script src="~/lib/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope min js -->
    <script src="~/lib/js/isotope.min.js"></script>
    <!-- jquery.dd.min js -->
    <script src="~/lib/js/jquery.dd.min.js"></script>
    <!-- slick js -->
    <script src="~/lib/js/slick.min.js"></script>
    <!-- elevatezoom js -->
    <script src="~/lib/js/jquery.elevatezoom.js"></script>
    <!-- scripts js -->
    <script src="~/lib/js/scripts.js"></script>

</body>
</html>
