@model IEnumerable<OnlineShopping.Core.DbEntities.Product>

@{
    ViewData["Title"] = "GetProduct";
    var Categories = ViewBag.Categories;
    var Brands = ViewBag.Brands;
}


@foreach (var item in Model)
{

    <div class="col-md-3">

        <div class="card w-100 m-2" style="width: 18rem;">
            <img class="card-img-top card-img" style="height:240px" src="@item.productImages.ToList().FirstOrDefault().Path" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">@item.Title</h5>
                <p class="card-text">
                    Price : <span class="price">@item.Price $</span><br />
                    Category : <span>@item.Category.Name</span><br />
                    Brand : <span>@item.Brand.Name</span>
                </p>
                <a href="#" class="btn btn-primary m-auto btn-block" style="background-color:#FF324D;">Details</a>
            </div>
        </div>
    </div>
}
@section Category{
    @foreach (var item in Categories)
    {
        <li><a class="nav-link nav_item" asp-action="GetProduct" asp-route-id="@item.Id">@item.Name</a></li>

    }

}

@section Brand{

    @foreach (var item in Brands)
    {
        <div class="item">
            <div class="cl_logo">
                <img src="@item.ImagePath" alt="cl_logo">
            </div>
        </div>
    }

}