@model OnlineShopping.Persistence.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

@for (int i = 0; i < 8; i++)
{
    <div class="col-md-3">

        <div class="card w-100 m-2" style="width: 18rem;">
            <img class="card-img-top card-img" style="height:240px" src="@Model.products.ToList()[i].productImages.ToList().FirstOrDefault().Path" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">@Model.products.ToList()[i].Title</h5>
                <p class="card-text">
                    Price : <span class="price">@Model.products.ToList()[i].Price $</span><br />
                    Category : <span>@Model.products.ToList()[i].Category.Name</span><br />
                    Brand : <span>@Model.products.ToList()[i].Brand.Name</span>
                </p>
                <a href="#" class="btn btn-primary m-auto btn-block" style="background-color:#FF324D;">Details</a>
            </div>
        </div>
    </div>
}


@section Brand{

    @foreach (var item in Model.brands)
    {
        <div class="item">
            <div class="cl_logo">
                <img src="@item.ImagePath" alt="cl_logo">
            </div>
        </div>
    }

}

@section Search{
    <form>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="custom_select">

                    @Html.DropDownListFor(x => x.categories, new SelectList(Model.categories, "Id", "Name"))
                </div>
            </div>
            <input class="form-control" name="ProductName" placeholder="Search Product..." required="" type="text">
            <button asp-route-name="Name" asp-action="Search" type="submit" class="search_btn"><i class="linearicons-magnifier"></i></button>
        </div>
    </form>

}
@section Category{
    @foreach (var item in Model.categories)
    {
        <li><a class="nav-link nav_item" asp-action="GetProduct" asp-route-id="@item.Id">@item.Name</a></li>

    }

}

