@model OnlineShopping.Persistence.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.products)

{
    <div class="item">
        @for (int i = 0; i < 3; i++)
        {
            <div class="product">
                <div class="product_img">
                    <a href="shop-product-detail.html">
                        <img src="@item.productImages.ToList().FirstOrDefault().Path" alt="product_img1">
                    </a>
                </div>
                <div class="product_info">
                    <h6 class="product_title"><a href="shop-product-detail.html">@item.Title</a></h6>
                    <div class="product_price">
                        <span class="price">@item.Price $</span>
                    </div>
                    <div class="on_sale">
                        Category : <span>@item.Category.Name  </span><br />
                        Brand : <span>@item.Brand.Name</span>
                    </div>
                </div>
            </div>
        }


    </div>

}


@section Brand{

    @foreach (var item in Model.brands)
    {
        <div class="item">
            <div class="cl_logo">
                <img src="@item.ImagePath" alt="cl_logo">
            </div>
        </div>
    }

}
@section Search{
    <form>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="custom_select">
                    @*<select class="first_null">
                        <option value="">All Category</option>
                        <option value="Dresses">Dresses</option>
                        <option value="Shirt-Tops">Shirt & Tops</option>
                        <option value="T-Shirt">T-Shirt</option>
                        <option value="Pents">Pents</option>
                        <option value="Jeans">Jeans</option>
                    </select>*@
                    @Html.DropDownListFor(x => x.categories ,new SelectList(Model.categories,"Id","Name"))
                </div>
            </div>
            <input class="form-control" name="ProductName" placeholder="Search Product..." required="" type="text">
            <button asp-route-name="Name" asp-action="Search" type="submit" class="search_btn"><i class="linearicons-magnifier"  ></i></button>
        </div>
    </form>


}